


/* CHANGING COLOR ON LINKS */
a {
  color: red;
  text-decoration: none;

  &:hover {
    color: red;
    text-decoration: underline;
  }
}

/* CENTERING THE H1 */
h1 {
  font-size: 60px;
  text-align: center;
}

/* THIS SPECIFIES THE SIZE OF THE BODY SECTION */
body {
  width: 1024px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

/* The body element is block level, meaning it takes up space on the page and can have margin and other spacing values applied to it. Images, on the other hand, are inline elements, meaning they can't. So to apply margins to the image, we have to give the image block-level behavior using display: block;.*/
/*img {
  display: block;
  margin: 0 auto;
}
*/
